<div class="col">
	<div class="card shadow">
		<img src="{{ asset('img/img_card.jpg') }}" class="card-img-top img-card h-100" alt="Image de la classe">

		<div class="card-body">

			<h5 class="card-title">
				{{ classe.titre|u.truncate(20, '...', true) }}
			</h5>

			<h6 class="card-subtitle mt-1 mb-2 text-muted">
				<figcaption class="blockquote-footer my-0">
					Crée par
					<cite title="Source Title">{{ classe.enseignant.fullName }}</cite>
				</figcaption>
			</h6>
			<p class="card-text">{{ classe.description|u.truncate(23, '...', true) }}</p>
			<p class="small text-muted">Mise à jour,
				{{ classe.dateModification|ago(locale='fr') }}</p>
			<a class="btn btn-primary" href="{{ path('app_classedecours_consulter', {'id_classedecours' : classe.id}) }}">Voir plus...</a>

		</div>
	</div>
</div>
