<div class="col">
	<a href="{{ path('app_classedecours_consulter', {'id_classedecours' : classe.id}) }}" class="text-decoration-none link-dark">
		<div class="card card-home">
			<div class="card-header bg-dark text-white">
				{{ classe.promotion.titre|upper }}
			</div>
			<div class="card-body bg-light">
				<h5 class="card-title">
					{{ classe.titre|u.truncate(20, '...', true) }}
				</h5>
				<h6 class="card-subtitle mt-1 mb-2 text-muted">
					<figcaption class="blockquote-footer my-0">
						Crée par
						<cite title="Source Title">{{ classe.enseignant.fullName }}</cite>
					</figcaption>
				</h6>
				<p class="card-text">{{ classe.description|u.truncate(23, '...', true) }}</p>
			</div>
			<div class="card-footer bg-light">
				<small class="text-muted">Dernière modification,
					{{ classe.dateModification|ago(locale='fr') }}
				</small>
			</div>
		</div>
	</a>
</div>
