{% extends 'base.html.twig' %}

{% block title "Page d'accueil de DeptInfo-UMMTO" %}

{% block body %}

	{% if is_granted('ROLE_ENSEIGNANT') %}
		<h3 class="mb-3 fw-normal">Mes classes de cours</h3>
		{% if (app.user.classesDeCours|length) == 0 %}
			<p>
				Vous n'avez pour le moment aucune classe de cours.
				<a href="{{ path('app_classedecours_creer') }}">
					créez-en un !
				</a>
			</p>
		{% else %}
			<ul class="nav flex-column">
				{% for classe in app.user.classesDeCours %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_classedecours_consulter', {'id_classedecours' : classe.id}) }}">
							{{ classe.titre }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% else %}
		<h3 class="mb-3 fw-normal">Classe de cours disponibles dans votre promotion
			{{ app.user.promotion.titre}}
		</h3>

		{% if (app.user.promotion.classeDeCours|length) == 0 %}
			<p>Aucune classe de cours disponible dans votre promotion pour le moment.</p>
		{% else %}
			<ul>
				{% for classe in app.user.promotion.classeDeCours %}
					<li>
						<a href="">{{ classe.titre }}</a>
					</li>
				{% endfor %}
			</ul>

		{% endif %}


	{% endif %}


{% endblock %}
