{{ form_start(formInscription) }}
{{ form_row(formInscription.nom) }}
{{ form_row(formInscription.prenom) }}
{{ form_row(formInscription.email) }}
{{ form_row(formInscription.plainPassword) }}
<button type="submit" class="btn">Inscription</button>
{{ form_end(formInscription) }}
