{% extends 'base.html.twig' %}

{% block title classeDeCours.titre %}

{% block body %}

	<div class="card bg-dark text-white border-none">
		<img src="{{ asset('img/img_card.jpg') }}" class="card-img img-card-full w-100 h-100" alt="Image de la classe de cours">
		<div class="card-img-overlay">
			<h3 class="card-title">{{ classeDeCours.titre }}</h3>
			<p class="h5 card-text">{{ classeDeCours.promotion.titre }}</p>
			<p class="card-text">{{ classeDeCours.description }}</p>
			<p class="small card-text">Dernière modification,
				{{ classeDeCours.dateModification|ago(locale='fr') }}
			</p>

			{# Boutton pour publier un cours #}
			{% if is_granted('ROLE_ENSEIGNANT') %}
				<a class="btn btn-primary my-auto" href="{{ path('app_cours_creer', {'id_classedecours' : classeDeCours.id }) }}">
					Publier un nouveau cours
				</a>
			{% endif %}
			{# Boutton pour publier un cours #}


			{# Dropdown tool card full #}
			{% if is_granted('ROLE_ENSEIGNANT') %}
				<div class="dropdown dropdown-card">
					<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownCard" data-bs-toggle="dropdown" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f9f9f9" class="bi bi-three-dots-vertical" viewbox="0 0 16 16">
							<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						</svg>
					</a>
					<ul class="dropdown-menu text-small" aria-labelledby="dropdownCard">
						<li>
							<a class="dropdown-item" href="{{ path('app_classedecours_editer', {'id_classedecours' : classeDeCours.id }) }}">Editer</a>
						</li>
						<li>
							<a class="dropdown-item" href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr(e) de vouloir supprimer cette classe de cours ?') && document.getElementById('js-classedecours-form-delete').submit();">Supprimer</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_cours_creer', {'id_classedecours' : classeDeCours.id }) }}">Nouveau cours</a>
						</li>
						<form action="{{ path('app_classedecours_supprimer', {'id_classedecours' : classeDeCours.id}) }}" method="POST" id="js-classedecours-form-delete" style="display: none;">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</ul>
				</div>
			{% endif %}
			{# Dropdown tool card full #}
		</div>
	</div>


	<h3 class="my-2 fw-normal">Dernières publications
	</h3>

	{% for course in classeDeCours.cours %}

		<p class="small fst-normal">
			<figcaption class="figure-caption">
				Le
				{{course.dateModification|date("d/m/Y à H:i:s")}}

			</figcaption>
		</p>

		<div class="accordion" id="accordionCours">
			<div class="accordion-item">

				<div class="accordion-header" id="heading{{course.id}}">

					<button class="accordion-button fst-normal h5 mb-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course.id}}" aria-expanded="false" aria-controls="collapse{{course.id}}">
						{{course.enseignant.fullName}}
						a publié un nouveau support de cours :
						{{ course.titre }}
						<br>
					</button>

				</div>

				<div id="collapse{{course.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{course.id}}" data-bs-parent="#accordionCours">

					<div class="accordion-body">
						{{ course.description }}
					</div>

					<a class="btn btn-primary" href="{{ path('app_cours_consulter', { 'id_classedecours' : classeDeCours.id, 'id_cours' : course.id } ) }}">Vois plus...</a>


				</div>
			</div>
		</div>
	{% endfor %}


	{% if (classeDeCours.cours|length) == 0 %}
		Aucun cours publié dans cette classe pour le moment.
		<a href="{{ path('app_cours_creer', {'id_classedecours' : classeDeCours.id }) }}">
			Créez-en un !
		</a>
		{% else %}
	{% endif %}
{% endblock %}
