{% extends 'base.html.twig' %}

{% block title "Consulter la classe de cours" ~ classeDeCours.id %}

{% block body %}

	<h3>
		{{ classeDeCours.titre }}
		-
		<a href="{{ path('app_classedecours_editer', {'id' : classeDeCours.id }) }}">
			Editer
		</a>
	</h3>
	<p>{{ classeDeCours.promotion.titre }}</p>
	<p>{{ classeDeCours.description }}</p>
	<p>
		<a href="{{ path('app_cours_creer', {'id_classedecours' : classeDeCours.id }) }}">
			Publier un nouveau cours
		</a>

	</p>
	<br><br>


	<a href="{{ path('app_classedecours_index') }}">Revenir à mes classes de cours</a>

{% endblock %}
