{% extends 'admin/base.html.twig' %}

{% block title "Promotions | Administration" %}

{% block body %}
	<div class="table-responsive">
		<table class="table table-dark table-striped table-responsive-sm caption-top">
			<caption>
				Liste des promotions
				<a href="{{ path('admin_promotion_creer') }}">
					<img src="{{ asset('icons/plus.svg') }}" class="float-end" alt="Ajouter une promotion">
				</a>
			</caption>

			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Promotion</th>
					<th scope="col">Action</th>
				</tr>
			</thead>

			<tbody>
				{% for promotion in promotions %}
					<tr>
						<th scope="row">{{ promotion.id }}</th>
						<td>{{ promotion.titre }}</td>
						<td>
							{# Boutton d'édition d'une promotion #}
							<a class="text-decoration-none" href="{{ path('admin_promotion_editer', {'id' : promotion.id}) }}">
								<img src="{{ asset('icons/edit.svg') }}" alt="edit button">
							</a>
							{# end Boutton d'édition d'une promotion #}

							{# Boutton de suppression d'une promotion #}
							<a class="text-decoration-none ms-4" href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr(e) de vouloir supprimer cette promotion ?') && document.getElementById('js-promotion-form-delete{{promotion.id}}').submit();">
								<img src="{{ asset('icons/delete.svg') }}" alt="delete button">
							</a>
							{# formulaire caché pour supprimer une promotion #}
							<form action="{{ path('admin_promotion_supprimer', {'id' : promotion.id}) }}" method="POST" id="js-promotion-form-delete{{promotion.id}}" style="display: none;">

								<input type="hidden" name="_method" value="DELETE">
							</form>
							{# end formulaire #}
							{# Boutton de suppression d'une promotion #}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
