{% extends 'base.html.twig' %}

{% block title cours.titre %}

{% block body %}

	<h3>
		{{ cours.titre }}
		-
		<a href="{{ path('app_cours_editer', {'id_cours' : cours.id, 'id_classedecours' : cours.classeDeCours.id}) }}">
			Editer
		</a>
	</h3>

	<p>
		{{ cours.description }}
	</p>
	<br><br>

	<a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr(e) de vouloir supprimer ce cours ?') && document.getElementById('js-cours-delete-form').submit();">
		Supprimer
	</a>
	<br><br>

	<form action="{{ path('app_cours_supprimer', {'id_cours' : cours.id, 'id_classedecours' : cours.classeDeCours.id}) }}" method="POST" id="js-cours-delete-form" style="display: none;">
		<input type="hidden" name="_method" value="DELETE">
	</form>

	<a href="{{ path('app_classedecours_consulter', {'id_classedecours' : cours.classeDeCours.id}) }}">Revenir à ma classe</a>


{% endblock %}
